* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-image: url("imagenes/4393443.jpg");
    color: aliceblue;
}

a{
    color: antiquewhite;
}
h1 {
    color: rgb(255, 255, 255);
}

ul{
    list-style: none;
}

img {
    width: 250px;
}

.divClass{
    text-align: center;
}


#thirdDiv {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    height: 400px;
    width: 600px;
    background-color: rgb(58, 42, 8);
    opacity: .98;
    padding-bottom: 420px;
    border: 7px outset rgba(233, 236, 230, 0.719);
    border-radius: 10px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

